.hidden {
   display: none;
   margin-left: 10px;
 }
 
 a:hover+div {
   display: block;
 }

 /* TODO */
 .bg-primary {
   padding: 0;
  }
  
  .title-header {
    padding: 10%;
    width: 100%;
  }

  * {
    box-sizing: unset;
  }
  