.hidden {
   display: none;
   margin-left: 10px;
 }
 
 a:hover+div {
   display: block;
 }

 /* TODO */
 .bg-primary {
   background-image: url("imagen.svg");
   background-color: aqua !important;
 }
 