.hidden {
   display: none;
   margin-left: 10px;
 }
 
 a:hover+div {
   display: block;
   /* color: red; */
 }

 /* TODO */
 .bg-primary {
   padding: 0;
  }
  
  .title-header {
    padding: 10%;
    width: 100%;
  }

  * {
    box-sizing: unset;
  }
  
  .bg-dark {
    background-color: #8e3b0f!important;
  }

  .bg-light {
    background-color: #f5f2f0 !important;
  }

  .lead {
    color: #8e3b0f !important;
  }

#page-description {
  color: white !important
}
  